extends layout

block content
  h1= title
  a(href="/buscar") Buscar alumnos
  br
  br
  form(method='post')
      label Nombre
      input(type='text', name="name")
      label email
      input(type='text', name='email')
      input(type='submit', value='Suscribir')
  br
  div#error= error